@model ConnectionStringModel

@{
    Layout = "_Layout";
}

<div class="center">
    <form asp-action="Connect" method="post">
        <fieldset class="border rounded-3 p-3">
            <legend>Connect to database</legend>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="container">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="UserId" class="control-label"></label>
                        <input class="form-control pt-2" asp-for="UserId">
                        <span asp-validation-for="UserId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password">Password</label>
                        <input type="password" class="form-control pt-2" asp-for="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Host">Host</label>
                        <input class="form-control pt-2" asp-for="Host">
                        <span asp-validation-for="Host" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Port">Port</label>
                        <input class="form-control pt-2" asp-for="Port">
                        <span asp-validation-for="Port" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Database">Database Name</label>
                        <input class="form-control pt-2" asp-for="Database">
                        <span asp-validation-for="Database" class="text-danger"></span>
                    </div>
                    
                    <div class="form-group">
                        <input type="checkbox" id="useDockerContainer" class="form-check-input pt-2" onclick="onCheckboxClick()" asp-for="UseDockerContainer"/>
                        <label asp-for="UseDockerContainer">Use Docker container</label>
                    </div>
                    
                    <div class="form-group">
                        <label asp-for="DockerContainerName">Docker container name</label>
                        <input class="form-control pt-2" id="dockerContainer" disabled="disabled" asp-for="DockerContainerName"/>
                    </div>

                    <input type="submit" id="Connect" class="btn-primary mt-2 circle-btn" value="Connect">
                </div>
            </div>
        </fieldset>
    </form>
</div>

<script>
    function onCheckboxClick() {
      $("#dockerContainer").prop("disabled", !$("#useDockerContainer").is(":checked"));
    }
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}