@model PostgreWebClient.ViewModel.ConnectionViewModel

@{
    Layout = "_Layout";
}

<div class="center">
    <form asp-action="Connect" method="post">
        <fieldset class="border rounded-3 p-3">
            <legend>Connect to database</legend>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="container">
                <div class="col">
                    <div class="form-group">
                        <label asp-for="UserId" class="control-label"></label>
                        <input class="form-control pt-2" asp-for="UserId">
                        <span asp-validation-for="UserId" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Password">Password</label>
                        <input type="password" class="form-control pt-2" asp-for="Password">
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Host">Host</label>
                        <input class="form-control pt-2" asp-for="Host">
                        <span asp-validation-for="Host" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Port">Port</label>
                        <input class="form-control pt-2" asp-for="Port">
                        <span asp-validation-for="Port" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Database">Database Name</label>
                        <input class="form-control pt-2" asp-for="Database">
                        <span asp-validation-for="Database" class="text-danger"></span>
                    </div>

                    <input type="submit" class="btn-primary mt-2 circle-btn" value="Connect">
                </div>
            </div>
        </fieldset>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}