@{
    ViewBag.Title = "Manipulation";
    Layout = "_Layout";
}

<script src="lib/ace-builds-1.5.0/src-min/ace.js" type="text/javascript" charset="utf-8"></script>


<h2>Manipulation</h2>

<div class="container">
    <div class="row">
        @*Database info*@
        <div class="col-3">
            <h4>Schemas</h4>
            <ul id="databaseInfo"></ul>
        </div>
        
        @*Editor*@
        <div class="col">
            <div id="editor" class="editor"></div>
            <button id="sendButton" class="btn-primary mt-2">Send</button>
        </div>

        @*Query result*@
        <div class="col" id="queryResult">
            <div class="scrollable">
                <table id="resultTable"></table>
            </div>
        </div>
    </div>
</div>

<script>
    let editor = ace.edit("editor");
    editor.setTheme("ace/theme/xcode");
    editor.session.setMode("ace/mode/sql");
</script>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/pagination.js"></script>
<script src="~/js/dom-manipulation.js"></script>
<script src="~/js/manipulation.js"></script>