html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.editor {
  width: 500px;
  height: 100px;
  border: solid 3px orange;
}


th {
  padding: 10px;
  text-align: center;
}

td {
  padding: 10px;
  text-align: left;
}


.scrollable {
  overflow: scroll;
  width: 700px;
  height: 500px;
}

th {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
}

thead {
  background-color: white;
}

tr:nth-child(even) {
  background-color: #ddd;
}